{% extends 'home.html' %}
{% block title %}Reporting{% endblock %}
{% block subject %}Reporting & PayScheduling{% endblock %}
{% block content %}
<hr style = "margin-top:50px">
<div style = "text-align:center;margin-top:50px">
    <form method = "POST">
    {% csrf_token %}
    <p style = "margin-bottom:20px"><select id = "employee"><option value = "">Select Employee</option>
    {% for staff in staffs%}
    <option value = "{{staff.id}}">{{staff.lastname}}&nbsp;&nbsp;&nbsp;{{staff.firstname}}</option>
    {% endfor %}
    </select><input type = "checkbox" style = "margin-left:10px" id = "use"/></p>
<label>Start: </label><input type = "date" id = "start" >
<label style = "margin-left:100px">End: </label><input type = "date" id = "end"><br>
<input type = "submit" style ="margin-top:30px" id = "generate" value = "Generate" onclick = "return false"/>
</form>
</div>
<hr style = "margin-top:50px">
<table id = "forsummary">
    <tbody>

    </tbody>
</table>
<p style = "text-align:center;margin-top:10px"><label style = "margin-left:10px" for = "tpc">TPC: (N)</label><input type = "text" id = "tpc" /><label style = "margin-left:10px">Commission: </label><input type = "text" id = "com" value = "0.25"/><label style = "margin-left:10px">Total Bill: (N)</label><input type = "text" id = "bill" /></p>
<p style = "text-align:center;margin-top:20px"><button id = "getbill">Get Bill</button></p>
<script>
$(document).ready(function(){
 $('#generate').click(function(){
 $.ajax({
     type: 'POST',
     url: '/rcentre/reporting/',
     data: {
         'start': $('#start').val(),
         'end': $('#end').val(),
         'name': $('#employee').val(),
         'byname': $('#use').is(':checked')
     },
     success: function(data)
     {
         console.log(data)
         /*if (data == 'Empty Set') return;
         $('#forsummary tbody tr').remove()
         const obj = JSON.parse(data);
         $('#forsummary tbody').append('<tr><th>FirstName</th><th>LastName</th><th>Amount</th></tr>');
         for(i = 0;i < obj.length;i++)
        {
            if(i == 0) continue;
            if(i == (obj.length - 1))
            {
                $('#tpc').val(obj[i].income)
            }
        var markup = "<tr><td>" + obj[i].fn + "</td><td>" + obj[i].sn + "</td><td> N" + obj[i].income + "</td></tr>";
        $('#forsummary tbody').append(markup);
        }*/
     },
     error: function(data)
     {
         console.log(data);
     }
 });
 });
 $('#getbill').click(function(){
   var tpc = parseFloat($('#tpc').val());
   var com = parseFloat($('#com').val());
   let bill = tpc * com + tpc;
   $('#bill').val(bill)
 });
})
</script>
{% endblock %}

